<div id="controls">
  <div id="panel">
  <div id="panel-pages" class="panel" style="display:block;">
    <ul id="list-pages">
      <li<%= " class=active" if @active == "home" %>><a href="/info_pages/home" title="">Home</a></li>
      <li<%= " class=active" if @active == "instructions" %>><a href="/info_pages/instructions" title="">Instructions</a></li>
    </ul>
    
  </div>
  </div>
</div>
