<%= render :partial => 'panel'%>

<div id="preview" class="answer-page">
  <div id="page-preview">
    <div class="page">
      <h3>Home</h3>
      <p>This is an example of a public page viewable before being logged in.  This text can be edited in app/views/info_pages/home.html.erb</p>
      <p><%= link_to "Login", user_session_path %></p>
    </div>
  </div>
</div>
