<%= render :partial => 'panel'%>

<div id="preview" class="answer-page">
  <div id="page-preview">
    <div class="page">
      <h3>Instructions</h3>
      <p>Instructions page would go here.  Edit this text in app/views/info_pages/instructions.html.erb</p>
    </div>
  </div>
</div>
